spring:
  datasource:
    url: jdbc:h2:file:./data/challengedb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: false
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: false

logging:
  level:
    com.trupper.challenge: INFO
    org.springframework.web: WARN

